# Python
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/

# Django
*.sqlite3
db.sqlite3

# macOS
.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Static files
/static/
